fullname: kafka
replicaCount: 1

image:
  repository: confluentinc/cp-kafka
  pullPolicy: IfNotPresent
  tag: "latest"

resources: 
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 512Mi

service:
  port: 9092

zookeeper:
  fullname: zookeeper
  service:
    port: 2181